Data/
__pycache__/
*.pyc
.env
outputs/
.DS_Store
.ipynb_checkpoints/
gastric-tissue/
spams-python/
Models/
PathoPredictX-GC/src/efficientnetb3_baseline.h5 
Image classification.ipynb
PathoPredictX-GC/src/sample_images
